@media (min-width: 1024px) {
    .pricing-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
  .founders-container {
    padding: 0.75rem;
  }
  .founder-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .founder-item img {
    width: 100px;
    height: 100px;
  }
  .founder-item h4 {
    font-size: 1rem;
  }
  .founder-item p {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }
    .hamburger {
        display: block;
    }

    .custom-logo {
        max-width: 120px;
    }

    .sidebar-title {
        font-size: 18px;
    }

    .sidebar-description,
    .sidebar-location {
        font-size: 12px;
    }

    .Work_Together-button {
        width: 100%;
        font-size: 14px;
        padding: 12px 0;
    }

    #main-content {
        margin-left: 0;
        padding: 10px;
    }

    #learnMoreBtn,
    #getStartedBtn {
        width: 100%;
        padding: 12px;
    }

    #versionTable {
        margin-top: 20px;
    }

    #additionalContentSideBySide {
        flex-direction: column;
    }

    .nav-button {
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-link {
        display: block;
        padding: 12px;
        text-align: center;
    }

    .nav-link:hover {
        background-color: #1F2A36;
    }

    #chat-section {
        display: block;
        margin-top: 20px;
    }

    #input-section {
        margin-top: 10px;
    }

    .flex-1 {
        width: 100%;
    }

    .fake-vs-real-info {
        font-size: 14px;
        margin-top: 15px;
    }
}

/* For extra small screens like smartphones in portrait mode */
@media (max-width: 480px) {
    .nav-link {
        font-size: 14px;
        padding: 0.25rem 0.5rem;
    }

    .nav-button {
        font-size: 12px;
        padding: 0.5rem 1rem;
    }

    .download-btn, .toggle-btn {
        padding: 0.5rem 1rem;
        font-size: 12px;
    }

    nav {
        padding: 0 10px;
    }

    nav ul {
        gap: 10px;
    }

    .download-btn, .toggle-btn {
        font-size: 0.9rem;
        padding: 0.5rem 0.8rem;
    }

    /* Adjust text sizes */
    .sidebar-title {
        font-size: 16px;
    }

    .sidebar-description,
    .sidebar-location {
        font-size: 12px;
    }

    .Work_Together-button {
        font-size: 12px;
        padding: 10px;
    }

    #learnMoreBtn,
    #getStartedBtn {
        font-size: 14px;
        padding: 10px 15px;
    }

    table {
        font-size: 12px;
    }

    .message {
        font-size: 12px;
    }
}
