.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

@keyframes brand-colors {
  0% {
    background: rgba(0, 234, 255, 0.5);
  }
  50% {
    background: rgba(255, 0, 127, 0.5);
  }
  100% {
    background: rgba(0, 234, 255, 0.5);
  }
}

.container {
  --w: 40px;
  --g: 5px;
  --t: calc(var(--w) + var(--g));
  width: var(--w);
  aspect-ratio: 1;
  perspective: 120px;
  transform-style: preserve-3d;
}

.cube {
  --fz: 0;
  --rx: 0;
  --fx: 0;
  --ry: 0;
  --fy: 0;
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: var(--w);
  aspect-ratio: 1;
  bottom: calc(var(--w) * -0.5);
  right: calc(var(--w) * -0.5);
  background: rgba(18, 18, 18, 0.5);
  animation:
    rotate 20s linear infinite,
    brand-colors 10s ease-in-out infinite;
  transition: 5s;
  --a: translateZ(calc(0.5 * var(--w)))
    translateX(calc(var(--x) * var(--t) - 0.5 * var(--fy) * var(--w)))
    translateY(calc(var(--y) * var(--t) - 0.5 * var(--fx) * var(--w)))
    translateZ(
      calc(
        var(--z) * var(--t) - 0.5 * var(--ry) * var(--w) - 0.5 * var(--rx) *
          var(--w) - var(--fz) * var(--w)
      )
    )
    rotateX(calc(90deg * var(--rx))) rotateY(calc(90deg * var(--ry)));
  --p: translateX(calc(-0.5 * var(--w))) translateY(calc(-0.5 * var(--w)))
    translateZ(calc(-0.5 * var(--w)));
}

.cube:hover {
  background: rgba(255, 0, 0, 0.5);
  transition: 0s;
}

@keyframes rotate {
  0% {
    transform: var(--p) rotateZ(0deg) rotateY(0deg) rotateX(0deg) var(--a);
  }
  to {
    transform: var(--p) rotateZ(360deg) rotateY(720deg) rotateX(360deg) var(--a);
  }
}

@media (max-width: 800px) {
  .container {
    --w: 40px;
    margin-top: 180px;
  }
}
